body {
    display: flex;
    margin-top: 36px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #2F3C7E;
    gap: 100px;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: #FBEAEB;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

#p-header{
    color: aliceblue;
    text-align: center;
    margin-top: -30px;
}

.services {
    display: flex;               
    justify-content: space-between;
    gap: 20px;                   
    flex-wrap: wrap;             
}
.services_card {
    display: flex;              /* Use flexbox layout */
    flex-direction: column;     /* Stack elements vertically */
    justify-content: space-between; /* Distribute space between content and button */
    flex: 1;
    width: 210px;
    height: 300px;
    padding: 20px;
    border: 1px solid #FBEAEB;
    background: #FBEAEB;
    text-align: center;
    border-radius: 16px;
}

.services p, li{
    color:#2F3C7E;
    font-weight: bolder;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;  /* Adds space between the content and the button */
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #8b92b5;
}

.services_card:hover {
    border: 1px solid #000;
    transform: scale(1.075);
    transition: 0.6s ease-in;
    cursor: pointer;
}


ul{
    text-align: left;
}